@use "../../global" as *;

.c-animated__fadeIn {
  // before (出現前)
  translate: 0 20px;
  opacity: 0;
  
  // after (出現後)
  &.js-show {
    translate: 0;
    opacity: 1;
  }
}

.c-cursor {	
display: grid;
place-items: center;
position: fixed;
top: 0;
left: 0;
z-index: 339;
width: 120px;
margin: 0;
aspect-ratio: 1;
border: 1px solid #fff;
border-radius: 50%;
color: #fff;
font-size: 32px;
line-height: 1.3;
letter-spacing: 0.05em;
opacity: 1;
transition: transform .1s, scale .1s;
cursor: none !important;
pointer-events: none;
}

.js-link:hover {
  cursor: none;
}

  // ===================================
  // オープニングアニメーション
  // ===================================

  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');

 
  
  .opening {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 1000;
    background-color: #fafafa;
  }
  
  .opening__inner {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .opening__title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: clamp(64px, 10vw, 168px);
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    line-height: 1;
    white-space: nowrap;
    color: #18181b;
    will-change: transform, opacity;
  }
  
  .opening__text {
    transform: translateX(-15px);
  }
  .opening__count{
    position: absolute;
    bottom: 36%;
    font-size:64px;
    font-family: "Yu Mincho", "YuMincho", serif;
    font-weight: 700;
    color: #18181b;
  }
  
  
  


