@use "../../global" as *;


.c-culture__modal-area {
  
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -8;
  width: min(1200px, 80%);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease,visibility 0.3s ease;
  
  &.is-active {
    z-index: 333;
    opacity: 1;
    visibility: visible; 
}
}
.c-member__modal{
    padding: 48px;
    border-radius: 12px;
    background-color: #fff;
    border: 1px solid #023E78;
    color: #023E78;
    display: grid;
    width: 94%;
    margin-inline: auto;
    place-items: center;
  position: relative;
    height: auto;
  

    @include mq(sp) {
        padding: 64px 16px 16px;
      }

   
}
.c-member__modal-inner {
    overflow-y: scroll;
    max-height: 100vh;
}
.c-member__modal-block {
    position: absolute;
    top: 53px;
    right: 44px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: end;
    row-gap: rm(8);
    @include mq(sp) {
        flex-direction: row-reverse;
        top: 22px;
        right: 16px;
        align-items: start;
        column-gap: 8px;
       }
}
.c-member__modal-close {
    width: 36px;
    height: 36px;
    border-radius: 4px;
    background-color: #023E78;
    position: relative;

    &::before,
    &::after {
      content: '';
      width: 21px;
      height: 2px;
      background-color: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      translate: -50% -50%;
    }
    &::before {
      rotate: 45deg;
    }
    &::after {
      rotate: -45deg;
    }
}
.c-member__modal-closeText {
    @include font(16, 500, 1, 0);
    line-height: 1.7;
    @include mq(sp) {
        font-size: 12px;
       }
}
.c-member__modal-desc {
    @include font(18, 500, 1, 0);
    line-height: 1.6;
    font-style: italic;
    font-family: $ff-en;
    color: $stage-color-dark;
    @include mq(sp) {
        font-size: 14px;
       }
}
.c-member__modal-title {
    @include font(28, 700, 1, 0);
    line-height: 1.6;
    @include mq(sp) {
       font-size: 20px;
      }

    span {
        font-size: 30px;
        font-weight: 500;
        margin-right: 16px;
        font-style: italic;
    font-family: $ff-en;
    color: $color-text-accent;
    @include mq(sp) {
        font-size: 18px;
        margin-left: 1px;
       }
    }
}
.c-member__modal-title-1 {
    @include font(18, 700, 1, 0);
    line-height: 1.6;
    @include mq(sp) {
        font-size: 15px;
      }
}
.c-member__modal-text {

    li{
    @include font(16, 500, 1, 0);
    line-height: 1.7;
    list-style: disc;
    margin-left: 1em;
    color: $stage-color-dark;
    @include mq(sp) {
        font-size: 15px;
        margin-left: 2em;
      }
    }
}
.c-member__modal-list {
    display: flex;
    padding-block: rm(12);
    border-bottom: 1px solid #C4CCD7;

    @include mq(sp) {
        flex-direction: column;
        gap: 10px;
      }

    &:first-of-type {
        margin-top: 40px;
        @include mq(sp) {
            margin-top: 12px;

          }
    }
    &:last-of-type {
        margin-bottom: 40px;
        @include mq(sp) {
            margin-bottom: 12px;
          }
    }

    dt,dd {
        width: 50%;
        @include mq(sp) {
            width: 100%;
          }
        
    }
    
}

.c-modal-btn {
    width: 100%;
    display: block;
    padding-block: rm(21);
    padding-inline: rm(40);
    color: #fff;
    background-color: $color-text-accent;
    border-radius: 4px;
    border: 2px solid #023E78;
    text-align: center;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: scale 0.3s ease,opacity 0.3s ease-in,translate 0.3s ease-in;
    z-index: 3;

    @media (hover: hover) {
        
        &:hover {
            scale: 1.2;
        }
      }

    &::after {
        content: '';
        width: 100%;
        height: 100%;
        background-color: #fff;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transform-origin: bottom left;
        scale: 0 0;
        transition: scale 0.3s ease;
      }
   

    span {
        @include font(20, 700, 1, 0);
    line-height: 1;
    position: relative;
    display: inline-block;

    &::before {
        content: '';
        width: 15px;
        height: 15px;
        border-top: 2px solid #fff;
        border-right: 2px solid #fff;
        rotate: 45deg;
        position: absolute;
        top: 50%;
        translate: 0 -50%;
        right: -36px;
        transition: border 0.3s ease;
      }
      
    
    }

  
   
  }
  .js-modal-btn {
    opacity: 0;
    translate: 0 20px;
    transition: scale 0.3s ease,opacity 0.3s ease-in,translate 0.3s ease-in;
  }
  .js-modal-btn.is-active {
    opacity: 1;
    translate: 0 ;
  }

// 料金表のモーダル　　　　　　------------------------------------------
 
.c-culture__modal-btn {
    
    position: absolute;
    bottom: -80px;
    right: 40px;
    z-index: 33;
  }
  .c-culture__modal-link {
    display: inline-block;
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #fff;
    color: $stage-color-dark;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: scale 0.3s ease-in-out;
    @media (hover: hover) {
        
      &:hover {
          scale: 1.05;
      }
    }
   
   
    span {
      @include font(12, 500, 1, 0);
      margin-top: 30px;
    }
    &::before {
      content: '+';
      position: absolute;
      top: 40%;
      left: 50%;
      translate: -50% -50%;
      color: $stage-color-dark;
      z-index: 34;
      font-size: 32px;
    }
  }

  // プライバシーのモーダル　　　　　　------------------------------------------

  .c-privacy__modal{
    padding: 48px;
    border-radius: 12px;
    background-color: #fff;
    border: 1px solid #023E78;
    color: #023E78;
    display: grid;
    width: 94%;
    height: 92%;
  
    margin-inline: auto;
    place-items: center;
    position: relative;
    height: auto;
    position: fixed;
    top: 50%;
    left: 50%;
  
    translate: -50% -50%;
    z-index: -8;
    width: min(1200px, 80%);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease,visibility 0.3s ease;
  
    
    &.is-active {
      z-index: 333;
      opacity: 1;
      visibility: visible; 
  }
  

    @include mq(sp) {
        padding: 64px 16px 16px;
      }

   
}
.c-privacy__modal-inner {
    overflow-y: scroll;
    max-height: 85vh;
    
   
}
.c-privacy__modal-block {
    position: absolute;
    top: 53px;
    right: 44px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: end;
    row-gap: rm(8);
    @include mq(sp) {
        flex-direction: row-reverse;
        top: 22px;
        right: 16px;
        align-items: start;
        column-gap: 8px;
       }
}

.c-privacy__modal-closeText {
    @include font(16, 500, 1, 0);
    line-height: 1.7;
    text-decoration: underline;
    @include mq(sp) {
        font-size: 12px;
       }
}

.c-privacy__modal-desc {
    @include font(18, 500, 1, 0);
    line-height: 1.6;
    font-style: italic;
    font-family: $ff-en;
    color: $stage-color-dark;
    text-align: center;
    @include mq(sp) {
        font-size: 14px;
       }
}
.c-privacy__modal-title {
    @include font(28, 700, 1, 0);
    line-height: 1.6;
    text-align: center;
    @include mq(sp) {
       font-size: 20px;
      }

    span {
        font-size: 30px;
        font-weight: 500;
        margin-right: 16px;
        font-style: italic;
    font-family: $ff-en;
    color: $color-text-accent;
    @include mq(sp) {
        font-size: 18px;
        margin-left: 1px;
       }
    }
}

.c-privacy__modal-info {
  margin-top: 40px;
  
}
.c-privacy__modal-text {
  @include font(16, 500, 1, 0);
    line-height: 1.6;
    margin-bottom: 30px;
}

.c-privacy__modal-ttl {
  @include font(20, 700, 1, 0);
    line-height: 1.6;
    margin-bottom: 8px;
}