@use "../../global" as *;

  //　ファーストビューのスライダー　　-------------------------------------------

  .progress {
    position: absolute;
    top: calc(100% + 67px);
    left: 36%;
    translate: -50%;
    width: min(976px, 75%);
    height: 7px;
    background: #d9d9d9;
   
    

    @include mq(sp) {
        top: calc(100% + 34px);
    left: 48%;
    width: min(976px, 95%);
        }
    
  }
  
  .progress__bar {
    position: absolute;
    left: 0;
    top: 0;
    width: 20%;         /* ← バーの長さは固定 */
    height: 100%;
    background: #0961B6;
    border-radius: 20px;
    transition: transform 0.4s ease;
  }
  

  