@use "../global" as *;



.l-footer {
  position: sticky;
	bottom: 0;
	width: 100%;
	z-index: 0;
	background: #fff;
   padding-block: rm(128) rm(58);
  overflow: hidden;

    @include mq(sp) {
        padding-block: rm(34) rm(92);
        position: static;
      }
}
.l-footer_wrap {
  position: relative;
}
.l-footer__container {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 3;
   

    @include mq(sp) {
        flex-direction: column;
        align-items: left;
        row-gap: 57px;
      }
}