@use "../global" as *;

.l-main {
  margin-top: rm(0);
  position: relative;
  z-index: 1;
  // min-height: 100vh;
  
 
  
}

.l-child-main {

  margin-block: rm(240) rm(60);
  
  @include mq(sp) {
    margin-top: rm(180);
  }
 
  
}
.l-mv__block {
  background-image: linear-gradient(to left, #0291D9,#023E78 );
}

.l-mv__grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  
  // animation: mv_animation 14s  ease forwards infinite ;
}
.l-mv__scroll-animation {
  --images-width: 0px;
	--image-gap: 12px;

	width: fit-content;
	display: flex;
	gap: var(--image-gap);
	animation: mv_animation 10s linear both infinite;
  opacity: 0;
  translate: 0px 40px;
  visibility: hidden;
  overflow-y: hidden;
  transition: opacity 1s ease, translate 1s ease;
  height: 780px;

  @include mq(sp) {
    height: 540px;
   }

  &.is-active {
    opacity: 1;
    translate: 0 0;
  visibility: visible;
  }
}

@keyframes mv_animation {
  from {
    translate: 0 0;
  }

  to {
    translate: calc(-1 * (var(--images-width) + var(--image-gap))) 0;
  }
}

.l-fv__container {
 display: grid;
 place-items: center;

  @include mq(sp) {
   flex-direction: column;
   gap: 0px;
  }
}

.l-bussiness__container {
  margin-top: 48px;
  display: flex;
  flex-direction: column-reverse;
  row-gap: rm(40);
  @include mq(sp) {
    margin-top: 33px;
    }
}
.l-btn__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: rm(16);
  max-width: 100%;

  @include mq(sp) {
    grid-template-columns: repeat(2, 1fr);
    gap: rm(12);
   }
}
.l-bl__card-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: rm(24);
  margin-right: calc(50% - 50vw);
}
.l-bl__card-container {
  margin-right: calc(50% - 50vw);
}

.l-ch__grid {
  margin-top: 62px;
  display: grid;
 grid-template-columns: repeat(2, 1fr);
 column-gap: rm(72);
 row-gap: rm(22);
 @include mq(sp) {
  grid-template-columns: repeat(1, 1fr);
  gap: rm(28);
  margin-top: 32px;
 }
}

.l-member__container {

	padding-block: 120px;
	padding-inline: 40px;
  
	position: sticky;
  
  overflow: hidden;
	top: 0;
  height: 100vh;
	

}
.l-member__swiper-container {
  display: flex;
	gap: 48px;
 width: max-content;
 margin-right: 120px;
 margin-top: 80px;




  

}

@keyframes slide-to-right {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% + 100vw - 80px));
  }
}

.l-culture__flex-columns {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  row-gap: rm(80);
  position: absolute;
  z-index: 22;

  @include mq(sp) {
    position: static;
      }
}
.l-culture__container {
  padding-inline: rm(40);
  background-color: #fff;
  backdrop-filter: blur(32px);
  margin-bottom: 24px;
  position: relative;

  
  @include mq(sp) {
    padding-inline: rm(16);
      }

  &.--bg-blur {
    
    background: rgb(255 255 255 / 0.3);
    backdrop-filter: blur(8px);
    margin-top: 38px;
    z-index: 66;
    @include mq(sp) {
      position: static;
        }
  
    
  }

  &.--bg-blur-bottom {
    
    background: rgb(255 255 255 / 0.3);
    backdrop-filter: blur(8px);
    position: relative;
    @include mq(sp) {
      position: static;
        }
  
    
  }
}

.l-culture__image-wrap {
  position: relative;
  margin-inline: calc(50% - 50vw);
  overflow: hidden;
  z-index: 3;
  @include mq(sp) {
   margin-block: rm(86);
      }

  picture {
    aspect-ratio: 1440 / 380;
    height: 100%;
    @include mq(sp) {
     min-height: 380px;
     aspect-ratio: 390 / 380;
         }
    img {
      object-fit: cover;
      width: 100%;
    height: calc(100% + 200px); //ここを変えます
    }
  }
  
}


.l-faq__container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  @include mq(sp) {
   flex-direction: column;
   gap: 40px;
    }
}
.l-contact__container {
  padding-block: rm(40) rm(40);
   @include mq(sp) {
    padding-block: 0;
     }

}
.l-contact__block {
  
  width: 100%;
  padding-inline: 40px;
  padding-block: 40px;
  margin-inline: auto;
  border-radius: 30px;
  background-color: #fff;
  position: relative;
  z-index: 3;

  
  @include mq(sp) {
    padding-inline: 20px;
     }
}

.l-modal-bg {
  width: 100vw;
  height: 100vh;
  background-color: #023E7880;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease,visibilityy 0.3s ease;

  &.is-active {
    z-index: 221;
  opacity: 1;
  visibility: visible;
  }
}


  // ===================================
  // 実績詳細のページ
  // ===================================

    //　実績詳細　の　セクション　-------------------------------------------
.l-works-detail {
     background-color: #E4EAF1;
}
.l-detail-top {
  display: flex;
  gap: 30px;
  align-items: flex-start;
  margin-bottom: 50px;

  @include mq(sp) {
    flex-direction: column;
   }
}

.l-detail-mid {
  margin-block: rm(40) rm(40);
  background-color: #f9f8f8;
  color: #222;
  padding: 18px;
}

.l-detail-bottom {
  margin-block: rm(40) rm(40);
  background-color: #f9f8f8;
  color: #222;
  padding: 18px;
  display: flex;
  column-gap: 30px;
  @include mq(sp) {
    flex-direction: column;
    gap: 30px;
   }
}



    // ===================================
  // 実績一覧のページ
  // ===================================

    //　実績一覧の　セクション　-------------------------------------------

.l-works__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 30px;
}

    // ===================================
  // プロフィールのページ
  // ===================================

    //　プロフィールの　セクション　-------------------------------------------

.l-profile__bottom {
  padding-block: rm(40) rm(40);
  background-color: #F5EDE9;
  color: #222;
}

.l-profile__container {
  display: flex;
  column-gap: 30px;
  @include mq(sp) {
    flex-direction: column;
    gap: 10px;
     }
}
.l-profile__area {
  padding-block: rm(40) rm(40);
}
.l-profile__menu {
  margin-top: 40px;
  flex-shrink: 0;
}