@use "../../global" as *;


//アイコン ====================
.p-drawer__icon {
  position: fixed;
  z-index: $z-drawerIcon;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  top: 45px;
  right: 10%;
  width: 40px;
  height: 11px;
  z-index: 344;
  cursor: pointer;
  transition: right 0.3s ease;
  cursor: pointer;
  @include mq(pc) {
    display: none;
  }
  &.js-active {
    top: 45px;
   right: 10%;

   
   }
  }

.p-drawer__icon--bar {
  width: 100%;
  height: 2.8px;
  background: #fff;
}

//メニューが開いている時 ========
.p-drawer__icon.js-show {
  
  .p-drawer__icon--bar:nth-of-type(1) {
    rotate: 22deg;
    translate: 0 3.5px;
    background-color: $stage-color-dark;
  }
  .p-drawer__icon--bar:nth-of-type(2) {
    rotate: -22deg;
    translate: 0 -4.5px;
    background-color: $stage-color-dark;
  }
}

//ドロワーメニュー
.p-drawer {
  position: fixed;
  z-index: $z-drawer;
  overflow-y: scroll;
  
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  height: 100svh;
  // background-image: linear-gradient(to left, #0291D9, #023E78);
  background-color: #fff;
}
.p-drawer__icon--bar {
  transition: all 0.5s ease;
}

//ドロワーの出現の動きを指定
.p-drawer {
  translate: 101%;
  transition: translate 0.5s ease;

  &.is-active {
    translate: 0;
  }
}
.p-drawer__body {
  width: 100%;
  height: fit-content;

  padding-block: 19px 10px;
  padding-inline: 21px;
}
.p-drawer__list {
  display: flex;
  flex-direction: column;
  margin-top: 41px;
  margin-left: 8px;
  li a {
    @include font(16, 500, 1, 0);
    line-height: 1.4;
    color: $stage-color-dark;
    padding-block: rm(16);
    display: block;
    border-bottom: 1px solid $stage-color-dark;
    position: relative;

    @media (hover: hover) {
      &:hover {
        &::before {
          right: 8px;
        }
      }
    }

    &::before {
      content: '';
      width: 12px;
      height: 12px;
      border-top: 2px solid $stage-color-dark;
      border-right: 2px solid $stage-color-dark;
      rotate: 45deg;
      position: absolute;
      top: 50%;
      translate: 0 -50%;
      right: 12px;
      transition: right 0.3s ease;
    }
  }
}
.p-drawer__nav {
  display: flex;
  flex-direction: column;
  row-gap: rm(32);
}
.p-drawer__logo {
  scale: 1.2;
}
